In [52]:
import pandas as pd
import numpy as np
import os

In [ ]:
#Question 3

In [57]:
df_ords_prods_comb = pd.read_pickle(r'/Users/julianwere/Documents/01-2022/Instacart Basket Analysis/Data/Prepared Data/orders_products_combined.pkl')

In [58]:
path = r'/Users/julianwere/Documents/01-2022/Instacart Basket Analysis'

In [ ]:
#Question 4

In [6]:
df_ords_prods_comb.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [4]:
df_ords_prods_comb.shape

(32434489, 12)

In [ ]:
# Question 5

In [7]:
df_prods1 = pd.read_csv(r'/Users/julianwere/Documents/01-2022/Instacart Basket Analysis/Data/Prepared Data/products_clean.csv', index_col = False)

In [8]:
df_prods1.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods1.shape

(49672, 6)

In [17]:
df_prods_clean= df_prods1.drop(columns = ['Unnamed: 0',])

In [18]:
df_prods_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [24]:
df_ords_prods_comb1= df_ords_prods_comb.drop(columns = ['_merge','Unnamed: 0'])

In [31]:
orders_products_merged.shape

(32435059, 15)

In [41]:
orders_products_merged = df_ords_prods_comb1.merge(df_prods_clean, on =['product_id'], indicator = True)

In [42]:
orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [35]:
orders_products_merged.shape

(32404859, 15)

In [46]:
df_orders_products_merged = orders_products_merged

In [ ]:
#Question 6

In [50]:
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [60]:
df_orders_products_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))